<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>QA check results for repository gentoo</title>

		<link rel="stylesheet" type="text/css" href="output.css"/>
	</head>
	<body>
		<h1>QA check results</h1>

		<ul class="nav">
			{% for g in errors %}
				<li class="err"><a href="#{{ g|join('/') }}">{{ g|join('/') }}</a></li>
			{% endfor %}
			{% for g in warnings %}
				<li class="warn"><a href="#{{ g|join('/') }}">{{ g|join('/') }}</a></li>
			{% endfor %}
		</ul>

		<table>
			{% for g, r in results %}
				<tr><th colspan="3" class="heading">
					{% set h2_id = g[0] if g else "global" %}
					<h2 id="{{ h2_id }}">
						{{ g[0] if g else "Global-scope results" }}
						<small><a href="#{{ h2_id }}">¶</a></small>
					</h2>
				</th></tr>

				{% for g, r in r %}
					{% if g[0] %}
						{% set h3_id = g[0] + "/" + g[1] if g[1] else "_cat" %}
						<tr><th colspan="3" class="heading">
							<h3 id="{{ h3_id }}">
								{{ g[1] if g[1] else "Category results" }}
								<small><a href="#{{ h3_id }}">¶</a></small>
							</h3>
						</th></tr>
					{% endif %}

					{% for g, r in r %}
						{% for rx in r %}
							<tr class="{{ rx.css_class }}">
								<td>{{ g[2] if loop.index == 1 else "" }}</td>
								<td>{{ rx.class }}</td>
								<td>{{ rx.msg|escape }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</table>

		<address>Generated based on results from: {{ ts.strftime("%F %T UTC") }}</address>
	</body>
</html>

<!-- vim:se ft=jinja : -->
