body
{
	margin-left: 10.5em;
}

h1, h2, h3
{
	font-size: 100%;
}

h1
{
	font-weight: normal;
	text-align: center;

	margin-bottom: -6em;
}

ul.nav
{
	position: fixed;
	top: 0;
	left: 0;
	width: 10em;
	padding-left: 0;

	list-style: none;
	overflow: hidden;
}

ul.nav li
{
	margin-bottom: .3em;
	padding: .25em;
}

h2
{
	font-weight: bold;

	margin-top: 8em;
}

h3
{
	font-weight: normal;
	text-decoration: underline;
	padding-left: 2em;
}

table
{
}

th.heading
{
	text-align: left;
}

td
{
	background: #eee;
	border: .5em solid transparent;
}

.err td, li.err
{
	background: #fdd;
}

.warn td, li.warn
{
	background: #ffd;
}

h2 small, h3 small
{
	padding-left: .5em;
}

h2:target, h3:target
{
	background: #dfd;
}

address
{
	margin-top: 1em;
	font-size: 75%;
	text-align: center;
}
